.services-box{
    position: relative;

}

.services-container{

    padding: 11rem 6rem 20rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-info_title{

    background: linear-gradient(90deg, #FF3BFF 0%, #ECBFBF 38.02%, #5C24FF 75.83%, #D94FD5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    max-width: 466px;
}
.services-info_title p{
    font-family: 'BlinkMacSystemFont';
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 37px;
    color: #FFFFFF;
}

.normal_title{
    -webkit-text-fill-color: #FFFFFF;
}

.services-info_container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 3.5rem;
}
.services-info_container:last-child{
    padding-bottom: 0;
}
.services-info_icon_container{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: end;
    padding-bottom: 5px;
}

.services-info_icon_shadow{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: #B4B5FF;
    filter: blur(2.72448px);
    position: relative;
}

.services-info_discretion_container p:first-child{
    font-family: 'BlinkMacSystemFont';
    font-style: normal;
    font-weight: 860;
    font-size: 18px;
    line-height: 21px;
    color: #7376FF;

}
.services-info_icon{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border-style: solid;
    border-color: #FFFFFF;
    background-color: #0F001F;
    position: absolute;

}

.services-info_discretion{
    padding-top: 36px;

}

.services-info_discretion_container p:last-child{
    font-family: 'BlinkMacSystemFont';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #FFFFFF;
    max-width: 359px;
    padding-top: 20px;
}

.services-info_icon_phone{
    width: 20px;
    height: 32px;
    border-radius: 5px;
    border-style: solid;
    border-color: #FFFFFF;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 5px;
}

.dot{
    border-radius: 50%;
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 0.5px;
}
.services-container_images{
    display: flex;
    align-content: center;
    align-items: center;

    position: relative;
    right: 90px;

    width: 400px;
    height: 600px;

}
.iphone-13_image{
    position: absolute;
    padding-top: 9rem;
}
.iphone-12_image{
    position: absolute;
    left: 12rem;
}
.images-blur_container{
    position: relative;
    left: 140px;
}

.images_blur_1{
    position: absolute;
    width: 73px;
    height: 42px;
    background: #3ABFFF;
    filter: blur(29.6698px);
    transform: matrix(0.75, -0.7, 0.63, 0.74, 0, 0);
    top: 40px;
    left: 90px;
}
.images_blur_2{
    position: absolute;

    width: 182px;
    height: 116px;
    background: conic-gradient(from 118.92deg at 50% 50%, #2ADACC 0deg, #6972CD 171.22deg, #3ABFFF 360deg);
    filter: blur(92.683px);
    transform: matrix(0.9, -0.47, 0.41, 0.89, 0, 0);
}

.services-container_vector{
    position: absolute;
    top: 330px;
}


@media screen and (max-width: 480px) {
    .services-container{
        display: block;
        padding: 11rem 1rem 20rem 1rem;
    }
    .services-info_container{
        justify-content: space-around;
    }
    .services-info_discretion_container{
        padding-left: 1rem;
    }
    .services-info_icon_container{
        align-items: center;
        padding-top: 3rem;
    }
    .services-container_images{
        right: 65px;
    }

}

@media screen and (max-width: 1050px){
    .services-container{
        padding: 11rem 1rem 20rem 1rem;
    }
    .services-info_discretion_container{
        padding-left: 1rem;
    }
}
