.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 6rem 6rem 6rem;
}
.navbar-links_container{
    position: relative;
}

.navbar-links_logo p{
    text-decoration: none;
    font-family: 'BlinkMacSystemFont';
    font-style: normal;
    font-weight: 400;
    font-size: 18.1038px;
    line-height: 22px;
    color: #FFFFFF;
}
.navbar-links_container ul{
    display: flex;
    list-style-type: none;

}
.navbar-links_container ul li a{
    text-decoration: none;
    font-family: 'BlinkMacSystemFont';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
    margin: 0 1.3rem;
}



/*.navbar-links_container{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-around;*/

/*}*/

/*.navbar-links_container p a{*/
/*    text-decoration: none;*/
/*    font-family: 'BlinkMacSystemFont';*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    font-size: 16px;*/
/*    line-height: 19px;*/

/*    color: #FFFFFF;*/
/*    margin: 0 1.3rem;*/
/*}*/

/*.navbar-links_container p:last-child a{*/
/*    margin-right: 0;*/
/*}*/
/*.navbar-links_container p:first-child a{*/
/*    margin-left: 0;*/
/*}*/

@media screen and (max-width: 480px){
    .navbar-container{
        padding-right: 2rem;
        padding-left: 2rem;
    }
}

