.header-container{
    display: flex;
    padding: 0 6rem 0 6rem;


    /*height:100%;*/
    /*width:100%;*/

    /*FOR RESPONSIVE*/
    /*display: BLOCK;*/
    /*padding: 0 2rem 0 2rem; OR padding: 0 1rem 0 1rem;*/
}

.header-text_title .header-title_gradient{

    text-transform: capitalize;
    font-family: 'Exan';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.02em;

    background-image: linear-gradient(90deg, #FF3BFF 0%, #ECBFBF 38.02%, #5C24FF 75.83%, #D94FD5 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    width: 149px;
}
.header-text_title .header-title{
    font-family: 'Exan';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.02em;

    color: #FFFFFF;
}
.header-text_description p{
    font-family: 'BlinkMacSystemFont';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;

    color: #F4F4F4;
    padding: 2rem 0;

    /* REMOVE FOR RESPONSIVE */
    padding-right: 6rem;

}

/*.header-image{*/
/*    width: 100%;*/
/*    display: flex;*/
/*    flex-direction: row-reverse;*/
/*}*/

.btn:hover{
    cursor: pointer;
}

.btn {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    width: 169.28px;
    height: 57.19px;
    border: double 2.29px transparent;
    border-radius: 68.6251px;
    background-image: linear-gradient(#0F001F, #0F001F),
    linear-gradient(180deg, #6B009D 0%, #B700A5 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;

}
.btn .play-demo{
    font-family: 'BlinkMacSystemFont';
    font-style: normal;
    font-weight: 500;
    font-size: 18.3px;
    line-height: 64px;

    color: #FFFFFF;
}
.btn a{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    text-decoration: none;
}
.btn .triangle{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
