.header-container{
    display: flex;
    padding: 0 6rem 11rem 6rem;
    /*background: red;*/
    height: 100vh;
    justify-content: center;
    align-items: center;
    align-content: center;


    /*FOR RESPONSIVE*/
    /*display: BLOCK;*/
    /*padding: 0 2rem 0 2rem; OR padding: 0 1rem 0 1rem;*/
}

/*.header-box{*/
/*    background-color: green;*/
/*    height: 90vh;*/
/*}*/

.header-text_title .header-title_gradient{

    text-transform: capitalize;
    font-family: 'Exan';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.02em;

    background-image: linear-gradient(90deg, #FF3BFF 0%, #ECBFBF 38.02%, #5C24FF 75.83%, #D94FD5 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    width: 149px;
}
.header-text_title .header-title{
    font-family: 'Exan';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.02em;

    color: #FFFFFF;
}
.header-text_description p{
    font-family: 'BlinkMacSystemFont';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;

    color: #F4F4F4;
    padding: 2rem 0;

    /* REMOVE FOR RESPONSIVE */
    padding-right: 6rem;

}


.btn:hover{
    cursor: pointer;
}

.btn {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    width: 169.28px;
    height: 57.19px;
    border: double 2.29px transparent;
    border-radius: 68.6251px;
    background-image: linear-gradient(#0F001F, #0F001F),
    linear-gradient(180deg, #6B009D 0%, #B700A5 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;

}
.btn .play-demo{
    font-family: 'BlinkMacSystemFont';
    font-style: normal;
    font-weight: 500;
    font-size: 18.3px;
    line-height: 64px;

    color: #FFFFFF;
}
.btn a{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    text-decoration: none;
}
.btn .triangle{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.gradient_1{
    position: absolute;
    left: 19.47%;
    right: 74.44%;
    top: 15.01%;
    bottom: 83.81%;

    background: #3ABFFF;
    filter: blur(29.6698px);
    transform: matrix(0.75, -0.7, 0.63, 0.74, 0, 0);
}
.gradient_2{
    position: absolute;
    height: 116.18557661334856px;
    width: 181.82257859754066px;

    background: conic-gradient(from 118.92deg at 50% 50%, #2ADACC 0deg, #6972CD 171.22deg, #3ABFFF 360deg);
    filter: blur(92.683px);
    transform: matrix(0.9, -0.47, 0.41, 0.89, 0, 0);

}


@media screen and (max-width: 1050px){
    .header-container{
        height: 100%;
        padding: 0 1rem 11rem 1rem;
    }
    .header-text_description p{
        padding-right: 0;
    }
}

@media screen and (max-width: 480px){
    .header-container{
        height: 100%;
        display: block;
    }
    .header-text_description p{

        padding-right: 0;
    }
    .header-image img{
        max-width: 100%;
        height: auto;
    }
}
