.header-container{
    display: flex;
    padding: 0 6rem 0 6rem;

    /*FOR RESPONSIVE*/
    /*display: BLOCK;*/
    /*padding: 0 2rem 0 2rem; OR padding: 0 1rem 0 1rem;*/
}

.header-text_title .header-title_gradient{

    text-transform: capitalize;
    font-family: 'Exan';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.02em;

    background-image: linear-gradient(90deg, #FF3BFF 0%, #ECBFBF 38.02%, #5C24FF 75.83%, #D94FD5 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    width: 149px;
}
.header-text_title .header-title{
    font-family: 'Exan';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.02em;

    color: #FFFFFF;
}
.header-text_description p{
    font-family: 'BlinkMacSystemFont';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;

    color: #F4F4F4;
    padding: 2rem 0;
    /* REMOVE FOR RESPONSIVE */
    padding-right: 6rem;

}

/*.header-image{*/
/*    width: 100%;*/
/*    display: flex;*/
/*    flex-direction: row-reverse;*/
/*}*/


.btn {
    background-image: linear-gradient(180deg, #6B009D 0%, #B700A5 100%);
    border-radius: 68.6251px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: block;
    font: 1.125rem 'Oswald', Arial, sans-serif; /*18*/
    height: 80px;
    padding: 4px;
    position: relative;
    text-decoration: none;
    width: 264px;
    z-index: 2;
}

.btn span {
    align-items: center;
    background: #0F001F;
    border-radius: 68.6251px;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}